<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/Assignment_3_friday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List in python
a=[1,2.3,"ram"]
a.append("सीता")
print(a)

[1, 2.3, 'ram', 'सीता']

In [ ]:
# Nepali example of list
मेनु=["चावमिन","मोमो","मासु चिउरा","भेज खाना","चिकेन खाना"]
print(मेनु)
# adding also one item in the menu
मेनु.append("थुक्पा")
print(मेनु)
print(f"म {मेनु[3]} खान्छु")

['चावमिन', 'मोमो', 'मासु चिउरा', 'भेज खाना', 'चिकेन खाना']
['चावमिन', 'मोमो', 'मासु चिउरा', 'भेज खाना', 'चिकेन खाना', 'थुक्पा']
म भेज खाना खान्छु

In [ ]:
# Give one real-life Nepali scenario. using Dictionary
# Registering student name in register


student_details={}
print("-------------दर्ता गर्नलाई आफ्नो विवरण हल्नुहोस------------------")
while True:
  name=input("आफ्नो नाम लेख्नुहोस:")
  age=int(input("आफ्नो उमेर हल्नुहोस:"))
  address=input("आफ्नो ठेगाना हल्नुहोस:")

  student_details={
    "name":name,
    "age":age,
    "address":address
           }

  if name in student_details:
   print("यो नाम दर्ता भईसकेको छ|")
  print(f"हेलो {name} ! तपाइले आफ्नो नाम सफल्दता पुर्वक दर्ता गर्नु भयो|")

  break

-------------दर्ता गर्नलाई आफ्नो विवरण हल्नुहोस------------------
आफ्नो नाम लेख्नुहोस:रितेश कुमार
आफ्नो उमेर हल्नुहोस:22
आफ्नो ठेगाना हल्नुहोस:काठमांडू
हेलो रितेश कुमार ! तपाइले आफ्नो नाम सफल्दता पुर्वक दर्ता गर्नु भयो|

In [ ]:
# Explain Sets with an example of unique trekking participants in Nepal.

trekking_participants = set()

while True:
    name = input("Enter participant name: ")

    if name in trekking_participants:
        print(f"{name} is already registered.")
    else:
        trekking_participants.add(name)
        print(f"{name} has been successfully registered!")

    # asking user to add more participants
    choice = input("Do you want to register another participant? give the answer in yes or no: ")
    if choice.lower() != "yes":
        break

# Display all registered participants
print("\nUnique Trekking Participants in Nepal:")
for participant in trekking_participants:
    print(participant)

Enter participant name: ramesh
ramesh has been successfully registered!
Do you want to register another participant? give the answer in yes or no: yes
Enter participant name: raj
raj has been successfully registered!
Do you want to register another participant? give the answer in yes or no: no

Unique Trekking Participants in Nepal:
raj
ramesh

In [ ]:
# What are Tuples? Give one Nepali example and explain immutability.
district_name=("बारा","पर्सा","काठमांडू","ललितपुर")
print(district_name)

('बारा', 'पर्सा', 'काठमांडू', 'ललितपुर')

In [ ]:
district_name.append("भक्तपुर")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
district_name.remove("बारा")

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
'''1. (12 Marks) Momo Order Calculator Write a Python program where the user
enters momo types and their prices using a dictionary. Ask how many plates of
each momo they want, then calculate and display the total bill. '''

momo = {} #dictionary to store momo details

momo_types = int(input("How many types of momo do you want to enter? "))


for i in range(momo_types):
    momo_name = input(f"Enter name of momo type {i+1}: ")
    price = float(input(f"Enter price for {momo_name}: "))
    momo[momo_name] = price

# Display menu
print("\nMomo Menu:")
for momos, price in momo.items():
    print(f"{momos} - Rs. {price}")

# ask for momo
total_bill = 0
for momos, price in momo.items():
    quantity = int(input(f"How many plates of {momos} do you want? "))
    total_bill += price * quantity

# Display the total bill
print(f"\nYour total bill is: Rs. {total_bill}")

In [ ]:
'''2. Bus Ticketing System: Create a dictionary for bus routes and ticket
prices in Nepal. Let the user select a route and display the ticket price. If the route
doesn’t exist, print ”Route not available”'''

bus_routes={
    "Kathmandu-Birgunj":1100,
    "Kathmandu-Pokhara":900,
    "Pokhara-Kushma":600,
    "Pokhara-Kalaiya":1200,
    "Narayangadh-Pokhara":1000,
    "Narayangadh-Kathmandu":1500
}

# routes=input("Enter the route:")
for routes in bus_routes:
  print(routes)

choose_route=input("Select a route travel:")

if choose_route in bus_routes:
  print(f"Ticket price for selected route is Rs:{bus_routes[choose_route]}")
else:
  print("Route not available")

Kathmandu-Birgunj
Kathmandu-Pokhara
Pokhara-Kushma
Pokhara-Kalaiya
Narayangadh-Pokhara
Narayangadh-Kathmandu
Select a correct route that is in the given above to travel:Pokhara-Kushma
Ticket price for selected route is Rs:600

In [ ]:
'''3. (12 Marks) Trekking Registration Use a set to store names of registered
trekkers. Keep asking names until the user types ”stop”. At the end, print all
unique participants'''
# creating a set to store trekkers details
trekking_participants = set()

while True:
    name = input("Enter trekker name: ")

    if name.lower() == "stop":
        break


    if name in trekking_participants:
        print(f"{name} is already registered.")
    else:
        trekking_participants.add(name)
        print(f"{name} has been registered successfully.")

# Display
print("\nUnique Trekking Participants in Nepal:")
for participant in trekking_participants:
    print(participant)

Enter trekker name: Ritesh
Ritesh has been registered successfully.
Enter trekker name: ramesh
ramesh has been registered successfully.
Enter trekker name: manish
manish has been registered successfully.
Enter trekker name: stop

Unique Trekking Participants in Nepal:
manish
Ritesh
ramesh

In [ ]:
'''4. (12 Marks) Dashain Gift List Store a tuple of gift items for Dashain. Print
each gift using a for loop.'''

dashain_gifts = ("mobile", "Clothes", "Fruits", "watch", "money")
print("Dashain Gift List:")
for gift in dashain_gifts:
    print(gift)

Dashain Gift List:
mobile
Clothes
Fruits
watch
money

In [ ]:
'''5. (12 Marks) Vegetable Market Pricing Create a dictionary of vegetables with
prices. Keep asking the user to enter vegetable name and quantity until they type
”done”. Calculate and print the total price'''


vegetables = {
    "tomato": 120,
    "potato": 70,
    "onion": 70,
    "cauliflower": 30,
    "mushroom": 3000
}

print("Available Vegetables and Prices (per kg):")
for veg, price in vegetables.items():
    print(f"{veg} - Rs. {price}")

total_price = 0

while True:
    veg_name = input("\nEnter vegetable name or type (done) to finish: ")
    if veg_name.lower() == "done":
        break

    if veg_name in vegetables:
        quantity = float(input(f"Enter quantity of {veg_name} in kg: "))
        total_price += vegetables[veg_name] * quantity
    else:
        print("Vegetable not available.")

print(f"\nYour total bill is: Rs. {total_price}")

Available Vegetables and Prices (per kg):
tomato - Rs. 120
potato - Rs. 70
onion - Rs. 70
cauliflower - Rs. 30
mushroom - Rs. 3000

Enter vegetable name or type (done) to finish: mushroom
Enter quantity of mushroom in kg: 1

Enter vegetable name or type (done) to finish: potato
Enter quantity of potato in kg: 2

Enter vegetable name or type (done) to finish: done

Your total bill is: Rs. 3140.0