<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/Dictionary_in_Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dictionary in Python
student={
    "name":"ritesh",
    "age":22,
    "city":"kathmandu"

}
print(student)

{'name': 'ritesh', 'age': 22, 'city': 'kathmandu'}

In [ ]:
print(student["name"])

ritesh

In [ ]:
print(student.get("education"))
print(student.get("age"))

None
22

In [ ]:
#update new key
student["education"]="BCA"
print(student)

{'name': 'ritesh', 'age': 22, 'City': 'kathmandu', 'education': 'BCA'}

In [ ]:
# Udate new key and value
student.update({"contact":981889393})
print(student)

{'name': 'ritesh', 'age': 22, 'City': 'kathmandu', 'education': 'BCA', 'contact': 981889393}

In [ ]:
student.update({"email":"ritesh123@gmail.com"})
print(student)

{'name': 'ritesh', 'age': 22, 'City': 'kathmandu', 'education': 'BCA', 'contact': 981889393, 'email': 'ritesh123@gmail.com'}

In [ ]:
del student["city"]
print(student)

KeyError: 'city'

In [ ]:
print(student)

{'name': 'ritesh', 'age': 22}

In [ ]:
removed_value=student.pop("age")
print(student)

KeyError: 'age'

In [ ]:
student = {"name": "Ritesh", "age": 20, "city": "Kathmandu"}

removed_value = student.pop("city")
print(student)
print("Removed:", removed_value) #print removed value

{'name': 'Ritesh', 'age': 20}
Removed: Kathmandu

In [ ]:
office={
    # "keys":"values"
    "name":"ritesh",
    "age":22,
    "city":"kathmandu",
    "contact":"985453627"
}

for key , value in office.items():
  print(key,"=",value)

name = ritesh
age = 22
city = kathmandu
contact = 985453627

In [ ]:
# print only keys
for key in office:
  print(f"{key}")

name
age
city
contact

In [ ]:
#print values olny
for value in office.values():
  print(value)

ritesh
22
kathmandu
985453627

In [16]:

my_details={
    "name":"ritesh",
    "age":22,
    "contact":"9818802859"
}

# print specific item in dictionary
print(my_details.get("name"))
print(my_details["age"])
print("Using for loop print the both keys and values")
for key,value in my_details.items():
  print(key,":",value)

ritesh
22
Using for loop print the both keys and values
name : ritesh
age : 22
contact : 9818802859

In [17]:
# Loop through the dictionary and print each keys and value
my_dict = {
    "name": "ritesh",
    "age": 22,
    "city": "ktm"
}

for key, value in my_dict.items():
    print(f"{key}: {value}")

name: ritesh
age: 22
city: ktm

In [20]:
# create a dictionary of 3 friends
friends={
    "friend1":{"name":"ritesh","age":22,"contact":"9864530842"},
    "friends2":{"name":"anish","age":25,"contact":"9818802859"},
    "friends3":{"name":"ramesh","age":27,"contact":"827328434"}
}
for friend, details in friends.items():
  print(friend,":",details)

friend1 : {'name': 'ritesh', 'age': 22, 'contact': '9864530842'}
friends2 : {'name': 'anish', 'age': 25, 'contact': '9818802859'}
friends3 : {'name': 'ramesh', 'age': 27, 'contact': '827328434'}

In [23]:
for key , value in friends.items():
  print(key,":",value)

friend1 : {'name': 'ritesh', 'age': 22, 'contact': '9864530842'}
friends2 : {'name': 'anish', 'age': 25, 'contact': '9818802859'}
friends3 : {'name': 'ramesh', 'age': 27, 'contact': '827328434'}

In [24]:
for key , value in friends["friend1"].items():
  print(key,":",value)

name : ritesh
age : 22
contact : 9864530842

In [28]:
# print only name and age of friends 1
# using for loop
count=0
for key, value in friends["friend1"].items():
  print(key,":",value)

  count+=1
  if count==2:
    break

name : ritesh
age : 22

In [32]:
# print details of friend1 and friend2 only
for friend in ["friend1","friends2"]:
  print(f"Details of {friend}:")
  for key, value in friends[friend].items():
    print(key,":",value)
  print()

Details of friend1:
name : ritesh
age : 22
contact : 9864530842

Details of friends2:
name : anish
age : 25
contact : 9818802859