<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/set_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# perform all the directories of the set
# creating two sets a and b
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
print(f"a={a}\nb={b}")

a={1, 2, 3, 4, 5, 6}
b={4, 5, 6, 7, 8, 9}

In [9]:
# adding one element in set a
a.add(9)
b.add(1)
print(f"a={a}")
print(f"b={b}")

# Adding Multiple elements
a.update(['a','b'])
print(f"After adding multiple element is set a={a}")

a={1, 2, 3, 4, 5, 6, 9, 10}
b={1, 4, 5, 6, 7, 8, 9}
After adding multiple element is set a={1, 2, 3, 4, 5, 6, 9, 10, 'b', 'a'}

In [12]:
# Remove one elements from set
a.remove('a')
print(f"after removing the single elements is set a:{a}")

after removing the single elements is set a:{1, 2, 3, 4, 5, 6, 10, 'b'}

In [14]:
# Discard elements  from the set
a.discard('b')
print(f"a={a}")

a={1, 2, 3, 4, 5, 6, 10}

In [15]:
a.discard(11)
print(f"a={a}")

a={1, 2, 3, 4, 5, 6, 10}

In [29]:
# pop element from the set
b={1, 4, 5, 6, 7, 8, 9}
s=b.pop()
print(f"b={b}")
print(f"The poped element is={s}")
print(f"The remaining elements in set b={b}")

b={4, 5, 6, 7, 8, 9}
The poped element is=1
The remaining elements in set b={4, 5, 6, 7, 8, 9}

In [30]:
# Copy set
print(f"b={b}")
b=a.copy()
print(f"set a={a}\nset b={b}")
print(f"After copying the elements of set a into set b={b}")

b={4, 5, 6, 7, 8, 9}
set a={1, 2, 3, 4, 5, 6, 10}
set b={1, 2, 3, 4, 5, 6, 10}
After copying the elements of set a into set b={1, 2, 3, 4, 5, 6, 10}

In [31]:
print(f"b={b}")

b={1, 2, 3, 4, 5, 6, 10}

In [32]:
# clear set
set1={12,3,"d"}
set1.clear()
print(set1)

set()

In [35]:
# Union or set
x={1,2,4,5,6,3}
y={3,4,6,7,8}
b=x.union(y)
print(f"The union of two sets are={b}")
print(f"The or operations of x and y={x|y}")

The union of two sets are={1, 2, 3, 4, 5, 6, 7, 8}
The or operations of x and y={1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
# Intersection(And)
print(f"x={x}\ny={y}")
x.intersection(y)
print(f"the intersection of set x and y ={s}")
print(f"The And operation of two sets are={x&y}")

x={1, 2, 3, 4, 5, 6}
y={3, 4, 6, 7, 8}
the intersection of set x and y ={3, 4, 6}
The And operation of two sets are={3, 4, 6}

In [46]:
# difference between two sets
print(f"The differences between two sets is:{x-y}")

The differences between two sets is:{1, 2, 5}

In [47]:
# Symmetric differences of two sets
# Symmetric differences means:The elements which does not match in both sets
print(f"The symmetric differences of two sets is:{x^y}")

The symmetric differences of two sets is:{1, 2, 5, 7, 8}

In [48]:
p={1,2}
q={3,4}
print(p^q)

{1, 2, 3, 4}

In [53]:
# update set
y.update(x)
print(y)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
# Intersection updates
x={2,4,6,8}
y={2,3,5,7,4}
x.intersection_update(y)
print(f"Intersection update={x}")

Intersection update={2, 4}

In [61]:
# subset of set
x={3,'a'}
print(f"X={x}\ny={y}")
print(x.issubset(y))

X={3, 'a'}
y={2, 3, 4, 5, 7}
False

In [62]:
# subsets of two sets
x={2,4}
print(f"X={x}\ny={y}")
print(x.issubset(y))

X={2, 4}
y={2, 3, 4, 5, 7}
True

In [64]:
# superset
a={1,2,3,21,4}
b={3,2,1}
print(f"The superset of a is  b={a.issuperset(b)}")

The superset of a is  b=True

In [11]:
# Disjoint set
a={1,2,3,21,4}
b={3,2,1}
print(f"a={a}\nb={b}")
x=a.isdisjoint(b)
print(f'The disjoint set of a and b is ={x}')

a={1, 2, 3, 4, 21}
b={1, 2, 3}
The disjoint set of a and b is =False

In [16]:
a={1,2}
b={3,4}
print(a.isdisjoint(b))

True

In [18]:
# Membership
a={1,3,2,4,5}
print('a' in a)
print(1 in a)

False
True

In [20]:
# Length of set
print(f"a={a}")
print(len(a))

a={1, 2, 3, 4, 5}
5

In [21]:
# loop throgh set
for i in a:
  print(i)

1
2
3
4
5

In [25]:
# frozen set
fs=frozenset([1,2,3,'a'])
print(fs)

frozenset({1, 2, 3, 'a'})