<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/Tech_Axis_Python_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Chapter-3 Python Data Structure
# 1.list
# 2.Dictionary
# 3.Tuple
# 4.set

# chapter-4 function in python
#Chapter-5 OOP(object oriented programming)
#chapter-6 Advance Python

In [ ]:
#why do we data structure?
#->Data Structure	Why We Use It
# List-->	Store multiple values in order
# Tuple-->	Store fixed values that shouldn’t change
# Set	-->Remove duplicates, fast membership test
# Dictionary-->	Store data with keys (like name → phone number)

# L=ordered collection of items enclosed in square bracket([])
# list()-inbuilt function
# They can store different types of elements like:[1,"ram",2.3]
# we can modify the list(mutable)
# elements can be access using their indices
# list various operations(add,remove,modifying) elements

In [ ]:
# example
a=[1,2,4,5,"ram",2.4]
print(a)

[1, 2, 4, 5, 'ram', 2.4]

In [ ]:
print(type(a))

<class 'list'>

In [ ]:
print(a[4])

ram

In [ ]:
print(a[2:6])

[4, 5, 'ram', 2.4]

In [ ]:
a=[1,2,3,[4,"apple"]]
print(a[3])
print(a[3][1])

[4, 'apple']
apple

In [ ]:
a=[1,3,[4,"Apple",["cat","bat"]]]
print(a[2][2][0])

cat

In [ ]:
#List operations
# append():-->add element
a=[1,2,3,4]
a.append(3)
print(a)

[1, 2, 3, 4, 3]

In [ ]:
a.append([2,3,4])
print(a)

[1, 2, 3, 4, 3, [2, 3, 4]]

In [ ]:
# insert(position,element):function that add element in the list at specific position
my_list=[1,2,3,5]
my_list.insert(2,"ram")
print(my_list)

In [ ]:
my_list=[1,2,3,5]
my_list.insert(3,["Ram",7])
print(my_list)

[1, 2, 3, ['Ram', 7], 5]

In [ ]:
#clear():->it is the function that removes all the elements from the list
my_list=[1,2,3]
my_list.clear()
print(my_list)

[]

In [ ]:
#copy():-->The copy() creates a new copy of the list
a=[1,2,3,4]
b=a.copy()
print(b)

[1, 2, 3, 4]

In [ ]:
# count():-->it checks number of occuring of a specific element in the list
my_list=[1,3,4,3,4,2,1]
result=my_list.count(3)
print(result)

2

In [ ]:
# Count how many 2 are there in my_list using for loop
my_list = [1, 2, 3, 2, 5, 2]

count = 0

for item in my_list:
    if item == 2:
        count += 1

print("Total number of two:", count)

Total number of two: 3

In [ ]:
# extend()-the extend function appends the elements of the another list
# to the end of the other list
my_list=[1,2,3,4,2]
other_list=[5,6,7]
my_list.extend(other_list)
print(my_list)

[1, 2, 3, 4, 2, 5, 6, 7]

In [ ]:
#index()

In [ ]:
#pop():remove specific element from the list
a=[1,2,4,5,]
a.pop(2)
print(a)

[1, 2, 5]

In [ ]:
#remove():it delete element who comes first
a=[1,2,2,3,4]
a.remove(2)
a

[1, 2, 3, 4]

In [ ]:
#reverse()
a=["cat",'bat','apple']
a.reverse()
print(a)

['apple', 'bat', 'cat']

In [ ]:
#sort()
a=[1,4,3,2,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [ ]:
b=['a','d','a']
b.sort()
print(b)

['a', 'a', 'd']