<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/TechAxis_Python_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#String Methods-for manupulating and modifying strings
#upper()
sentence="hello World"
sentence.upper()
print(sentence.upper())
#lower()
sentence.lower()

HELLO WORLD

'hello world'

In [ ]:
#Capitalized (First character matra capital garxa baki sabai lai small character ma change garxa)
a="ritesh Kumar"
print(a.capitalize())

Ritesh kumar

In [ ]:
#replace() method
#replace(old word,new word)
City="Kathmandu"
print(City.replace("Kathmandu","Pokhara"))
print(City.replace("Kathmandu","K@thmandu"))
print(City.replace("a","@"))

Pokhara
K@thmandu
K@thm@ndu

In [ ]:
# string strip()
#remove unnecessary characters like whiteSpace characters
#1.Tabs(\t,@,%)
#2.newlines(\n,/n#.%,&)

# Removing WhiteSpace
#Example 1:Removing leading and trailing white space
example= "    Hello,world!  "
stripped_example1=example.strip()
print(f"Original:{example}")
print(f"Stripped:{stripped_example1}")

Original:    Hello,world!
Stripped:Hello,world!

In [ ]:
#Example 2:Removing leading and trailing newlines and tabs(\n,\t)
example2= "\n\tHello,world!  "
stripped_example2=example2.strip()
print(f"Original:{example2}")
print(f"Stripped:{stripped_example2}")

Original:
	Hello,world!
Stripped:Hello,world!

In [ ]:
#Removing specific characters from both ends
name="\n--Ritesh , Kumar!--"
stripped_name=name.strip("-")
print(f"Original:{name}")
print(f"Stripped:{stripped_name}")

Original:
--Ritesh , Kumar!--
Stripped:
--Ritesh , Kumar!

In [ ]:
#Removing specific characters from both ends
name="--Ritesh , Kumar--"
stripped_name=name.strip("-")
print(f"Original:{name}")
print(f"Stripped:{stripped_name}")

Original:--Ritesh , Kumar--
Stripped:Ritesh , Kumar

In [ ]:
#Removing specific characters from both ends
name="abcdRitesh , Kumar"
stripped_name=name.strip("abcd")
print(f"Original:{name}")
print(f"Stripped:{stripped_name}")

Original:abcdRitesh , Kumar
Stripped:Ritesh , Kumar

In [ ]:
#strip(),rstrip()
#Removing specific characters from left and right ends
name="Ritesh  Kumarabcd"
stripped_name=name.rstrip("abcd")
print(f"Original:{name}")
print(f"Stripped:{stripped_name}")

Original:Ritesh  Kumarabcd
Stripped:Ritesh  Kumar

In [ ]:
#split() method
#Explaination: kind of seperator
name="ritesh kumar"
print(name.split())

['ritesh', 'kumar']

In [ ]:
#split()
#split by comma , hyphen, letter
text="Python is easy"
result=text.split()
print(result)

['Python', 'is', 'easy']

In [ ]:
date="2003-23-2"
print(date.split("-"))

['2003', '23', '2']

In [ ]:
#String count()
name="Engineering  "
print(name.count("e"))

2

In [ ]:
#String character escaping
text="This is a \'wonderful\' day"
print(text)

This is a 'wonderful' day

In [ ]:
#String character escaping
text="This is a \"wonderful\" day"
print(text)

This is a "wonderful" day

In [ ]:
name = "Ritesh"
age = 22
print(f"My name is {name} and I am {age} years old.")

My name is Ritesh and I am 22 years old.