<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/Tech_Axis_Python_Dictionary_day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary
student={
    "name":"ritesh",
    "age":20,
    "city":"ktm"
}
data={"a":1,"a":2}
print(student["name"])

ritesh

In [ ]:
print(student.get("city"))

ktm

In [ ]:
print(student["age"])

20

In [ ]:
for key, value in student.items():
    print(key, ":", value)

name : ritesh
age : 20
city : ktm

In [ ]:
student["grade"]="A"
print(student)

{'name': 'ritesh', 'age': 20, 'city': 'ktm', 'grade': 'A'}

In [ ]:
#update
student.update({"grade":"B"})
print(student)

{'name': 'ritesh', 'age': 20, 'city': 'ktm', 'grade': 'B'}

In [ ]:
student["age"]=21
print(student)

{'name': 'ritesh', 'age': 21, 'city': 'ktm', 'grade': 'B'}

In [ ]:
#delete
del student["age"]
print(student)

KeyError: 'age'

In [ ]:
#pop
student.pop("city")
print(student)

KeyError: 'city'

In [ ]:
print(student)

{'name': 'ritesh', 'grade': 'B'}

In [ ]:
office={
    "emp_id":101,
    "emp_name":"ritesh",
    "emp_age":20,
    "emp_city":"ktm"

}
for key in office:
  print(key)

emp_id
emp_name
emp_age
emp_city

In [ ]:
for value in office.values():
    print(value)

101
ritesh
20
ktm

In [ ]:
for key,value in office.items():
    print(key,":",value)

emp_id : 101
emp_name : ritesh
emp_age : 20
emp_city : ktm

In [ ]:
#
my_detail={
    "name":"ratesh",
    "age":22,
    "city":"ktm",
    "fav_food":"biryani",


}
print(my_detail)
# print only fav_food
print(my_detail["fav_food"])

{'name': 'ratesh', 'age': 22, 'city': 'ktm', 'fav_food': 'biryani'}
biryani

In [ ]:
#add a new key hobby
my_detail["hobby"]="playing"
print(my_detail)

# update age
my_detail["age"]=23
print(my_detail)
# delete fav food
del my_detail["fav_food"]
print(my_detail)

{'name': 'ratesh', 'age': 23, 'city': 'ktm', 'fav_food': 'biryani', 'hobby': 'playing'}
{'name': 'ratesh', 'age': 23, 'city': 'ktm', 'fav_food': 'biryani', 'hobby': 'playing'}
{'name': 'ratesh', 'age': 23, 'city': 'ktm', 'hobby': 'playing'}

In [ ]:
print(my_detail.get("fav_food"))

biryani

In [ ]:
print(f"emp_name:{my_detail['name']}")

emp_name:ratesh

In [ ]:
for key, value in my_detail.items():
    if key == "name":
        print(f"emp_name:{value}")

emp_name:ratesh

6.loop through the dictionary and print each key and value
7.create a dictionary of 3 friends
8.create a product catalog each should have :
a.name
b.price
c.quantity

In [ ]:
# Example dictionary
my_dict = {
    "name": "ritesh",
    "age": 22,
    "city": "ktm"
}

for key, value in my_dict.items():
    print(f"{key}: {value}")

name: ritesh
age: 22
city: ktm

In [ ]:
friends = {
    "friend1": {"name": "ritesh", "age": 20, "city": "ktm"},
    "friend2": {"name": "ram", "age": 22, "city": "pokhara"},
    "friend3": {"name": "shyam", "age": 21, "city": "biratnagar"}
}

# Optional: print all friends
for friend, details in friends.items():
    print(f"{friend}: {details}")

friend1: {'name': 'ritesh', 'age': 20, 'city': 'ktm'}
friend2: {'name': 'ram', 'age': 22, 'city': 'pokhara'}
friend3: {'name': 'shyam', 'age': 21, 'city': 'biratnagar'}

In [ ]:
product_catalog = {
    "product1": {"name": "Laptop", "price": 80000, "quantity": 5},
    "product2": {"name": "Phone", "price": 30000, "quantity": 10},
    "product3": {"name": "Headphones", "price": 5000, "quantity": 15}
}

# Optional: print the catalog nicely
for product, details in product_catalog.items():
    print(f"{product}: Name={details['name']}, Price={details['price']}, Quantity={details['quantity']}")

product1: Name=Laptop, Price=80000, Quantity=5
product2: Name=Phone, Price=30000, Quantity=10
product3: Name=Headphones, Price=5000, Quantity=15