<a href="https://colab.research.google.com/github/RiteshKumarBaitha320/Python_with_Data_Science/blob/main/TechAxis_Python_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# String Concatenation
x="Ritesh"
y="Kumar"
print(x+y)

RiteshKumar

In [ ]:
#String Repetition
a="Pokhara"
print(a*5)

PokharaPokharaPokharaPokharaPokhara

In [ ]:
#String Membership
b="Pokhara"
print("Pokhara" in b)

True

In [ ]:
a="PoKhara"
print("pokhara" in a)

False

In [ ]:
a="Python"
print("on" not in a)

False

In [ ]:
print("y" in a)
print("Y" in a)

True
False

In [ ]:
sentence="I love Python"
print("python" in sentence)
print("Python" in sentence)

False
True

In [ ]:
#String Iteration
c="Pokhara"
for i in c:
    print(i)

P
o
k
h
a
r
a

In [ ]:
word="Kathmandu"
for i in word:
    print("\t",i)

	 K
	 a
	 t
	 h
	 m
	 a
	 n
	 d
	 u

In [ ]:
#String Formatting with f string
name="Ritesh"
age=21
print(f"My name is {name} and my age is {age}")

My name is Ritesh and my age is 21

In [ ]:
a=22
b=3
div=a/b
print("Div="f"{div:.3f}")

Div=7.333

In [ ]:
name="ram"
age=20
print(f"Hi I am {name} and i am {age+2} years old after 2 years ")

Hi I am ram and i am 22 years old after 2 years

In [ ]:
#Input Function
print("Enter your name:")
name=str(input())
print("My name is",name)

Enter your name:
ritesh
My name is ritesh

In [ ]:
name=input("Enter your name:")
print("My name is",name)

Enter your name:ritesh
My name is ritesh

In [ ]:
print("Enter first Number")
a=int(input())
print("Enter second Number")
b=int(input())
print("Sum=",a+b,f"\tDiv={a/b:0.3f}")

Enter first Number
22
Enter second Number
3
Sum= 25 	Div=7.333

In [ ]:
age=int(input("Enter your age"))
name=input("Enter your name")
print(f"My name is {name} and my age is {age}")

Enter your age22
Enter your nameritesh
My name is ritesh and my age is 22